<div class="row" ng-repeat="grupo in masgrupo.grupos">	
  <div class="col-sm-12 col-md-12">
    <div class="panel panel-default coupon">
      <div class="panel-heading" id="head">
        <div class="panel-title" id="title">
            <h4>{{grupo.seccion.clave}} - {{grupo.seccion.descripcionCorta}}<span class="pull-right">{{grupo.identificador}}</span></h4>
        </div>
      </div>
      <div class="panel-body">
	      <div class="col-sm-12 col-md-3">
					<ul class="items">
			      <li><a href="/asistenciaGrupo/{{grupo._id}}">Tomar asistencia</a></li>
			      <li><a href="/verAsistencias/{{grupo._id}}">Ver asistencia</a></li>
			      <li><a href="/calificacionesGrupo/{{grupo_id}}">Capturar calificaciones</a></li>
			      <li><a href="/tareas/{{grupo._id}}/{{grupo.maestro_id}}">Tareas</a></li>
			      <li><a href="/calificacionesGrupo/{{grupo_id}}">Exámenes</a></li>
			    </ul>
			    <div class="offer">
			      <span class="usd"><sup>#</sup></span>
			      <span class="number">{{grupo.inscritos}}</span>
			      <span class="cents"><sup>Alumnos</sup></span>
			    </div>
				</div>
				<div class="col-sm-12 col-md-9">
					<div class="row-alumnos-fluid" style="overflow: auto;">
						<div class="col-lg-alumnos-3" ng-repeat="alumno in grupo.alumnos">			
	            <div class="card hovercard">
	                <div class="cardheader">
										
	                </div>
	                <div class="avatar">
	                  <img alt="" ng-src="{{alumno.fotografia}}"/>
	                </div>
	                <div class="info">
	                  <h3>
	                      <a target="_blank" href="/alumno/{{alumno._id}}">{{alumno.nombre}} {{alumno.apPaterno}}</a>
	                  </h3>
	                </div>
	            </div>			
						</div>	
					</div>
				</div>        
      </div>
      <div class="panel-footer">
        <div class="coupon-code">
            Día: {{grupo.hoy | date:'EEEE'}}
            <span class="print">
                <a href="#" class="btn btn-link"><i class="fa fa-lg fa-print"></i> Imprimir</a>
            </span>
        </div>
        <div class="exp">Fecha:{{ grupo.hoy | date:'dd-MM-yyyy'}}</div>
      </div>
    </div>
	</div>
</div>