<h2>Periodos</h2>
<div class="row">
	<div class="col-sm-12">
		<a class="btn btn-{{per.nuevo == true ? 'primary' : 'danger'}}" role="button" data-toggle="collapse" 
			href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="nuevoperiodo" ng-click="per.nuevoPeriodo()">
		  {{per.nuevo == true ? 'Nuevo' : 'Cancelar'}}
		</a>		
		<div class="collapse" id="collapseExample">
			<form class="form-horizontal" role="form" data-parsley-validate>
		  		<div class="container-fluid well">	    
			    	<div class="row">
			    		<div class="col-sm-4">					    
					    	<label>Nombre</label>
					    	<input type="text" class="form-control" placeholder="Periodo" ng-model="per.periodo.nombre" >
				    	</div>	
				    	<div class="col-sm-4">
							<label >Ciclo Escolar</label>
							<select class="form-control" placeholder="Seleccione" ng-model="per.periodo.ciclo_id" >
							 	<option  value="{{ciclo._id}}" ng-repeat="ciclo in per.ciclos">
									{{ciclo.descripcion}} 
								</option>
							</select>
						</div>
				    	<div class="col-sm-4">
							<label >Subciclo Escolar</label>
							<select class="form-control" placeholder="Seleccione" ng-model="per.periodo.subCiclo_id" >
							 	<option  value="{{subCiclo._id}}" ng-repeat="subCiclo in per.subCiclos">
									{{subCiclo.nombre}} | {{subCiclo.tipo}}
								</option>
							</select>
						</div>
				    </div>
				    <div class="row">
						<div ng-show="per.tipoFormulario == 'academico'">
				    			    
				    		<div class="col-sm-4">
					    		<label>Fecha Inicio</label>
						    	<input date-time class="form-control" view="year" max-view="year" min-view="date" ng-model="per.periodo.fechaInicio" />
				    		</div>
				    		<div class="col-sm-4">
					    		<label>Fecha Fin</label>
						    	<input date-time class="form-control" view="year" max-view="year" min-view="date" ng-model="per.periodo.fechaFin" />
				    		</div>  
						</div> 	
						<div ng-show="per.tipoFormulario == 'administrativo'">
							
							
							<div class="col-sm-4">
					    		<label>Fecha Inicio</label>
						    	<input date-time class="form-control" view="year" max-view="year" min-view="date" ng-model="per.periodo.fechaInicio" />
				    		</div>
				    		<div class="col-sm-4">
					    		<label>Fecha Fin</label>
						    	<input date-time class="form-control" view="year" max-view="year" min-view="date" ng-model="per.periodo.fechaFin" />
				    		</div>

				    		<div class="col-sm-4">
								<label >Plazo</label>
								<select class="form-control select2" placeholder="Seleccione" ng-model="per.periodo.plazo">
								  	<option value="Semanal">Semanal</option>
								  	<option value="Mensual">Mensual</option>
								  	<option value="Bimestral">Bimestral</option>
								  	<option value="Trimestral">Trimestral</option>
								  	<option value="Tetramestral">Tetramestral</option>
								  	<option value="Semestral">Semestral</option>
								  	<option value="Anual">Anual</option>
								</select>
							</div>

				    		
						</div>
			    	</div>
			    	<div class="row" ng-show="per.tipoFormulario == 'administrativo'">
				    	<div class="col-sm-4">
				    		<label>Módulo</label>
				    		<select class="form-control" ng-model="per.periodo.modulo">
					    		<option value="inscripcion">Inscripción</option>
					    		<option value="colegiatura">Colegiatura</option>
					    		<option value="otros">Otros</option>
				    		</select>
				    	</div>
				    </div>
				    <BR/>
				    <div class="row" ng-show="per.tipoFormulario == 'administrativo'" ng-repeat="concepto in per.conceptos">
				    	<div class="panel panel-default">
							<div class="panel-heading">{{concepto.nombre}}</div>
							<div class="panel-body">
								<table class="table table-striped" ng-show="per.tipoFormulario == 'administrativo'" >
										<thead>
											<tr>
												<td width="20%">
													<label>Nombre del Procedimiento</label>
												</td>
												<td width="20%">
													<label>Dias para realizar el Procedimiento</label>
												</td>
												<td width="20%">
													<label>Tipo de Procedimiento</label>
												</td>
												<td width="20%">
													<label>Monto</label>
												</td>
												<td width="10%">
													
												</td>

											</tr>
											
										</thead>
										<tbody>
											<tr ng-repeat="procedimiento in per.periodo.procedimiento[concepto.nombre]">
												<td >
				    								<input type="text"  ng-model='procedimiento.nombre'/>
												</td>
												<td width="20%">
													
							    					<input type="number"  ng-model='procedimiento.dias'/>
												</td>
												<td width="20%">
													
								    				<select class="form-control select2" placeholder="Seleccione" ng-model="procedimiento.tipoProcedimiento">
													  	<option value="Recargo">Recargo</option>
													  	<option value="Descuento">Descuento</option>
													  	
								    				</select>
												</td>
												<td width="20%">
													
													<input type="number" ng-model='procedimiento.monto'/>
												</td>
												<td width="10%">
													<input type="button" ng-click="per.eliminarProcedimiento(procedimiento)" value="-" class="btn btn-danger"/>
												</td>
											</tr>
											
										</tbody>
								</table>
								<input type="button" ng-click="per.nuevoProcedimiento(concepto.nombre)" value="+" class="btn btn-success"/>
							</div>

						</div>

				    </div>
			    	
			    	
			    		
		  		</div>
		  			    
				<div class="row">
					<div class="col-sm-12">
						<input type="submit" ng-click="per.guardar(per.periodo)" value="Guardar" class="btn btn-primary" ng-show="per.action">
						<input type="submit" ng-click="per.actualizar(per.periodo)" value="Actualizar" class="btn btn-primary" ng-show="!per.action">				
					</div>
				</div>	  
		  	</form>
		</div>
	</div>
</div>
<br/>
<!-- List -->
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th width="10%"><div class="text-center">Nombre</div></th>
					<th width="20%"><div class="text-center">Subcliclo</div></th>
					<th width="10%"><div class="text-center">Fecha de incio</div></th>
					<th width="10%"><div class="text-center">Fecha final</div></th>
		
					<th width="10%">
						<div class="text-center">
							Estatus
						</div>
					</th>
					<th width="10%">
						<div class="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="periodo in per.periodos">
			    <td>{{periodo.nombre}}</td>
			    <td>{{per.getSubCiclo(periodo.subCiclo_id)}}</td>
			    <td>{{periodo.fechaInicio | date:"dd-MM-yyyy"}}</td>
			    <td>{{periodo.fechaFin | date:"dd-MM-yyyy"}}</td>
			    <td>
				    <div class="text-center">
				    	<span ng-if="periodo.estatus" class="label label-success">
							  Activo
							</span>
							<span ng-if="!periodo.estatus" class="label label-danger">
							  Inactivo
							</span>
				    </div>
			    </td>
			    <td>
				    <div class="text-center">
					    <div class="btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu text-left">
							    <li><a href="#" ng-click="per.editar(periodo._id)"><i class="fa fa-pencil"></i> Editar</a></li>
							    <li><a href="#" ng-click="per.cambiarEstatus(periodo._id)"><i class="fa fa-trash"></i> Desactivar</a></li>
							  </ul>
							</div>
				    </div>				    
			    </td>
		    </tr>
			</tbody>
		</table>
	</div>
</div>