<h2>Secciones</h2>
<div class="row">
	<div class="col-sm-12">
		<a class="btn btn-{{sec.nuevo == true ? 'primary' : 'danger'}}" role="button" data-toggle="collapse" 
			href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="nuevoseccion" ng-click="sec.nuevoSeccion()">
		  {{sec.nuevo == true ? 'Nuevo' : 'Cancelar'}}
		</a>
		<div class="collapse" id="collapseExample">
			<form class="form-horizontal" role="form">
		  	<div class="well">	    
			    <div class="row">
			    	<div class="col-sm-2">					    
				    	<label>Clave</label>
				    	<input type="text" class="form-control" placeholder="Clave" ng-model="sec.seccion.clave" required>
			    	</div>
			    	<div class="col-sm-4">
			    		<label>Descripción Corta</label>
				    	<input type="text" class="form-control" placeholder="Descripción Corta" ng-model="sec.seccion.descripcionCorta" required>
			    	</div>
			    	<div class="col-sm-6">
					    <label>Descripción</label>
					    <textarea class="form-control" placeholder="Descripción" ng-model="sec.seccion.descripcion"></textarea>
			    	</div>
			    </div>
		  	</div>
		  	<div class="well">
			    <div class='row'>
			    	<div class="col-sm-4">
							<label >Departamento academico</label>
							<select class="form-control select2" placeholder="Seleccione" ng-model="sec.seccion.deptoAcademico_id">
								<option ng-repeat="deptoAcademico in sec.deptosAcademicos" value="{{deptoAcademico._id}}">{{deptoAcademico.descripcionCorta}}</option>
							</select>
						</div>
						<div class="col-sm-4">
							<label >Campus</label>
							<select class="form-control select2" placeholder="Seleccione" ng-model="sec.seccion.campus_id">
								<option ng-repeat="campus in sec.campus" value="{{campus._id}}">{{campus.nombre}}</option>
							</select>
<!--
						<ui-select ng-model="seccion.campus_id"
					             theme="bootstrap"
					             ng-disabled="disabled"
					             reset-search-input="false">
					    <ui-select-match placeholder="Seleccione">{{$select.selected.nombre}}</ui-select-match>
					    <ui-select-choices repeat="campus._id as campus in campuss | filter: $select.search">
					      <div ng-bind-html="campus.nombre | highlight: $select.search"></div>
					    </ui-select-choices>
					  </ui-select>
-->
						</div>
			    	<div class="col-sm-4">
					    <label> Orden</label>
					    <input type="text" class="form-control" placeholder="Orden" ng-model="sec.seccion.orden">
			    	</div>
			    	<div class="col-sm-4">
					    <label>Dependencia</label>
					    <input type="text" class="form-control" placeholder="Dependencia" ng-model="sec.seccion.dependencia">
			    	</div>
			    	<div class="col-sm-4">
					    <label>Servicio </label>
					    <input type="text" class="form-control" placeholder="Servicio" ng-model="sec.seccion.servicio">
			    	</div>
				    	<div class="col-sm-4">
				    		 <label>Nivel educativo</label>
					    <select ng-model="seccion.nivelEdu" class="form-control">
							  <option value="Bachillerato">Bachillerato</option>
						    <option value="Carrera">Carrera</option>
						    <option value="Curso">Curso</option>
							  <option value="Profesional">Profesional</option>
							</select>
			    	</div>
			    	<div class="col-sm-4">
					    <label>Categoria </label>
					    <input type="text" class="form-control" placeholder="Categoria" ng-model="sec.seccion.categoria">
			    	</div>
			    	<div class="col-sm-4">
					    <label>Clave de incorporación  </label>
					    <input type="text" class="form-control" placeholder="Clave de incorporación " ng-model="sec.seccion.claveIncor">
			    	</div>		    	
						<div class="col-sm-4">
							<label >Turno</label>
							<select class="form-control select2" placeholder="Seleccione" ng-model="sec.seccion.turno_id">
								<option ng-repeat="turno in sec.turnos" value="{{turno._id}}">{{turno.nombre}}</option>
							</select>
						</div>
					<div class="col-sm-4">
				    <label>Grados </label>
				    <input type="text" class="form-control" placeholder="Grados" ng-model="sec.seccion.grados">
		    	</div>
				</div>
			</div>			    	
			<div class="well">
	      <div class='row'>
	    		<div class="col-sm-3">
			    <label>Zona escolar </label>
			    <input type="text" class="form-control" placeholder="Zona escolar" ng-model="sec.seccion.zonaEsc">
	    	</div>
	    	<div class="col-sm-2">
			    <label>Edad de </label>
			    <input type="text"  class="form-control" placeholder="Edad" ng-model="sec.seccion.edad">
	    	</div>
	    	<div class="col-sm-1">
			    <label>A </label>
			    <input type="text"  class="form-control" placeholder="18" ng-model="sec.seccion.a">
	    	</div>
	    	<div class="col-sm-3">
			    <label>Cuenta contable 1  </label>
			    <input type="text" class="form-control" placeholder="Cuenta contable 1 " ng-model="sec.seccion.cuenta1">
	    	</div>
	    	<div class="col-sm-3">
			    <label>Cuenta contable 2  </label>
			    <input type="text" class="form-control" placeholder="Cuenta contable 2 " ng-model="sec.seccion.cuenta2">
			   </div>
	    	</div>
	    </div>
	    <div class="row">
				<div class="col-sm-12">
					<input type="submit" ng-click="sec.guardar(sec.seccion)" value="Guardar" class="btn btn-primary" ng-show="sec.action">
					<input type="submit" ng-click="sec.actualizar(sec.seccion)" value="Actualizar" class="btn btn-primary" ng-show="!sec.action">				
				</div>
			</div>	  
		</form>
	</div>
 </div>
</div>
<br/>

<!-- List -->
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th width="5%"><div class="text-center">Clave</div></th>
					<th width="20%"><div class="text-center">Descripción</div></th>	
					<th width="10%"><div class="text-center">Descripción Corta</div></th>				
					<th width="10%"><div class="text-center">Departamento Académico</div></th>
					<th width="10%"><div class="text-center">Campus</div></th>		
				    <th width="10%">
						<div class="text-center">
							Estatus
						</div>
					</th>
					<th width="8%">
						<div class="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
				<!--{{getDeptoAcademicoById(seccion.deptoAcademico_id).descripcionCorta}-->
		    <tr ng-repeat="seccion in sec.secciones">
			    <td>{{seccion.clave}}</td>
			    <td>{{seccion.descripcion}}</td>
			    <td>{{seccion.descripcionCorta}}</td>
			    <td>{{sec.getDeptoAcademico(seccion.deptoAcademico_id)}}</td>
			    <td>{{sec.getCampus(seccion.campus_id)}}</td>
			    <td> 
				    <div class="text-center">
				    	<span ng-if="seccion.estatus" class="label label-success">
							  Activo
							</span>
							<span ng-if="!seccion.estatus" class="label label-danger">
							  Inactivo
							</span>
				    </div>
			    </td>			   			   
			    <td class="col-sm-1">
				    <div class="text-center">
					    <div class="btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu text-left">
							    <li><a href="#" ng-click="sec.editar(seccion._id)"><i class="fa fa-pencil"></i> Editar</a></li>
							    <li><a href="#" ng-click="sec.cambiarEstatus(seccion._id)"><i class="fa fa-trash"></i> Desactivar</a></li>
							  </ul>
							</div>
				    </div>				    
			    </td>
		    </tr>
			</tbody>
		</table>
	</div>
</div>
