<h2>SubCiclos</h2>
<div class="row">
	<div class="col-sm-12">
		<a class="btn btn-{{sub.nuevo == true ? 'primary' : 'danger'}}" role="button" data-toggle="collapse" 
			href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="nuevosubCiclo" ng-click="sub.nuevoSubCiclo()">
		  {{sub.nuevo == true ? 'Nuevo' : 'Cancelar'}}
		</a>
			
		
		<div class="collapse" id="collapseExample">
			<form class="form-horizontal" role="form" > 

			<div class="col-sm-4">
			<label >Ciclo Escolar</label>
			 <select class="form-control select2" placeholder="Seleccione" ng-model="sub.subCiclo.ciclo_id">
			  <option  value="{{ciclo._id}}" ng-repeat="ciclo in sub.ciclos">
				{{ciclo.descripcion}}
				 </option>
				</select>
				</div>
			    <div class="col-sm-4">
				    	<label>Nombre</label>
					    <input type="text" class="form-control" ng-model="sub.subCiclo.nombre" >
			    	</div>
			    	<div class="col-sm-4">
				    	<label>Fecha Inicio</label>
					    <input date-time class="form-control" view="year" max-view="year" min-view="date" ng-model="sub.subCiclo.fechaInicio" />
			    	</div>
			    	<div class="col-sm-4">
				    	<label>Fecha Fin</label>
					    <input date-time class="form-control" view="year" max-view="year" min-view="date" ng-model="sub.subCiclo.fechaFin" />
			    	</div>
			    
			    <br/>
				<br/>
				<div class="row">
					<div class="col-sm-12">
						<input type="submit" value="Guardar" ng-click="sub.guardar(sub.subCiclo)" class="btn btn-primary" ng-show="sub.action">
						<input type="submit" ng-click="sub.actualizar(sub.subCiclo)" value="Actualizar" class="btn btn-primary" ng-show="!sub.action">				
					</div>
				</div>	  
		  </form>
		</div>
	</div>
</div>
<br/>
<!-- List -->
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th width="10%"><div class="text-center">Nombre</div></th>
					<th width="20%"><div class="text-center">Descripción</div></th>
					<th width="15%"><div class="text-center">Fecha Inicio</div></th>					
					<th width="15%"><div class="text-center">Fecha Fin</div></th>									
					<th width="10%">
						<div class="text-center">
							Estatus
						</div>
					</th>
					<th width="10%">
						<div class="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="subCiclo in sub.subCiclos">
			    <td>{{subCiclo.nombre}}</td>
			    <td>{{sub.getCiclo(subCiclo.ciclo_id)}}</td>
			    <td>{{subCiclo.fechaInicio | date:"dd-MM-yyyy"}}</td>
			    <td>{{subCiclo.fechaFin | date:"dd-MM-yyyy"}}</td>
			    <td>
				    <div class="text-center">
				    	<span ng-if="subCiclo.estatus" class="label label-success">
							  Activo
							</span>
							<span ng-if="!subCiclo.estatus" class="label label-danger">
							  Inactivo
							</span>
				    </div>
			    </td>
			    <td>
				    <div class="text-center">
					    <div class="btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu text-left dropdown-menu-right">
							    <li><a href="#" ng-click="sub.editar(subCiclo._id)"><i class="fa fa-pencil"></i> Editar</a></li>
							    <li><a href="#" ng-click="sub.cambiarEstatus(subCiclo._id)"><i class="fa fa-trash"></i> Desactivar</a></li>
							  </ul>
							</div>
				    </div>				    
			    </td>
		    </tr>
			</tbody>
		</table>
	</div>
</div>


