<h2>Escuela de procedencia</h2>
<div class="row">
	<div class="col-sm-12">
		<a class="btn btn-{{nuevo == true ? 'primary' : 'danger'}}" role="button" data-toggle="collapse" 
			href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="nuevoescuela" ng-click="nuevoEscuela()">
		   {{nuevo == true ? 'Nuevo' : 'Cancelar'}}
		</a>
		<div class="collapse" id="collapseExample">
			<form class="form-horizontal" role="form" data-parsley-validate>
		  	<div class="well">	    
			    <div class="row">
			    	<div class="col-sm-12">					    
                    <div class="col-sm-4">
						    <label>Nombre</label>
					    	<input type="text" class="form-control" placeholder="Nombre" ng-model="escuela.nombre" required>
					    </div>
					     <div class="col-sm-4">
						    <label> Nombre corto</label>
					    	<input type="text" class="form-control" placeholder="Nombre corto" ng-model="escuela.nombreCorto" required>
					    </div>
					     <div class="col-sm-4">
						    <label>Domicilio</label>
					    	<input type="text" class="form-control" placeholder="domicilio" ng-model="escuela.domicilio" required>
					    </div>
					  </div>
					 </div>
					</div>
					<div class="well">	    
			    <div class="row">
			    	      <div class="col-sm-12">	
					     <div class="col-sm-4">
						    <label>Colonia</label>
					    	<input type="text" class="form-control" placeholder="Colonia" ng-model="escuela.colonia" required>
					    </div>
					     <div class="col-sm-4">
						    <label>Codigo Postal</label>
					    	<input type="text" class="form-control" placeholder="Codigo Postal" ng-model="escuela.cp" required>
					    </div>
					     <div class="col-sm-4">
						    <label>Ciudad</label>
					    	<input type="text" class="form-control" placeholder="Ciudad" ng-model="escuela.ciudad" required>
					    </div>
					     <div class="col-sm-4">
						    <label>Telefonos </label>
					    	<input type="text" class="form-control" placeholder="Telefonos " ng-model="escuela.telefonos" required>
					    </div>
					    <div class="col-sm-4">
						    <label>Director </label>
					    	<input type="text" class="form-control" placeholder="Director " ng-model="escuela.director" required>
					    </div>
					    <div class="col-sm-4">
						    <label>Contacto </label>
					    	<input type="text" class="form-control" placeholder="Contacto " ng-model="escuela.contacto" required>
					    </div>			    	
			    	  </div>
			        </div> 
			      </div>  	
				<div class="row">
					<div class="col-sm-12">
						<input type="submit" ng-click="guardar(escuela)" value="Guardar" class="btn btn-primary" ng-show="action">
						<input type="submit" ng-click="actualizar(escuela)" value="Actualizar" class="btn btn-primary" ng-show="!action">	

					</div>
				</div>
					  
		  </form>
		</div>
	</div>
</div>
<br/>
<!-- List -->
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th width="20%"><div class="text-center">Nombre</div></th>
					<th width="20%"><div class="text-center">Domicilio</div></th>
					<th width="20%"><div class="text-center">Ciudad</div></th>
										
					
					<th width="10%">
						<div class="text-center">
							Estatus
						</div>
					</th>
					<th width="10%">
						<div class="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="escuela in escuelas">
			    <td>{{escuela.nombre}}</td>
			    <td>{{escuela.domicilio}}</td>
			    <td>{{escuela.ciudad}}</td>
			    <td>
				    <div class="text-center">
				    	<span ng-if="escuela.estatus" class="label label-success">
							  Activo
							</span>
							<span ng-if="!escuela.estatus" class="label label-danger">
							  Inactivo
							</span>
				    </div>
			    </td>
			    <td>
				    <div class="text-center">
					    <div class="btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu text-left">
							    <li><a href="#" ng-click="editar(escuela._id)"><i class="fa fa-pencil"></i> Editar</a></li>
							  <li><a href="#" ng-click="cambiarEstatus(escuela._id)"><i class="fa fa-trash"></i> Desactivar</a></li>
							  </ul>
							</div>
				    </div>				    
			    </td>
		    </tr>
			</tbody>
		</table>
	</div>
</div>
