<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#depositosForm" aria-expanded="false" style="margin-bottom:10px;" aria-controls="depositosForm">
  Agregar
</button>
<div class="row">
  <div class="col-sm-12">
    <div class="collapse" id="depositosForm">
			<div class="well col-sm-12">	
				<div class="row">
					<div class="form-group col-sm-4" valida>					    
					  <label>Semana</label>
				  	<input type="text" class="form-control"  ng-model="gc.gasto.semana" name="semana" required>
					</div>
					<div class="form-group col-sm-4" valida>
						<label for="fechaLimite">Fecha</label>
						<input date-time class="form-control" view="year" max-view="year" min-view="date" ng-model="gc.gasto.fecha" name="fecha" required/>
					</div>
					<div class="form-group col-sm-4" valida>
					  <label>Cuenta a nombre de</label>
				  	<input type="text" class="form-control"  ng-model="gc.gasto.aNombreDe" name="aNombreDe" required>
					</div>
					<div class="form-group col-sm-4" valida>
					  <label>Importe</label>
				  	<input type="number" class="form-control"  ng-model="gc.gasto.importe" name="improte" required>
					</div>
					<div class="form-group col-sm-4" valida>
						<label for="tipo">Tipo</label>
						<select class="form-control select2" placeholder="Seleccione" ng-model="gc.gasto.tipo" name="tipo" required>
						  <option value="carrera">Carrera</option>
						  <option value="curso">Curso</option>
						</select>
					</div>
				</div>
				<a class="btn btn-primary pull-right" ng-click="gc.guardar(gc.gasto, form)" valida-form formulario="form">Guardar</a>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<table class="table table-striped table-bordered table-list">
	    <thead>
	      <tr>
	        <th class="hidden-xs">Semana</th>
	        <th>Fecha</th>
	        <th>A nombre de</th>
	        <th>Importe</th>
	        <th>Tipo</th>
	        <th><em class="fa fa-cog"></em></th>
	      </tr> 
	    </thead>
	    <tbody>
	      <tr ng-repeat="gasto in gc.gastos">
	        <td class="hidden-xs">{{gasto.semana}}</td>
	        <td>{{gasto.fecha}}</td>
	        <td>{{gasto.aNombreDe}}</td>
	        <td>{{gasto.importe}}</td>
	        <td>{{gasto.tipo}}</td>
	        <td align="center">
	          <a class="btn btn-default"><em class="fa fa-pencil"></em></a>
	          <a class="btn btn-danger"><em class="fa fa-trash"></em></a>
	        </td>
	      </tr>
	    </tbody>
	  </table>
	</div>
</div>
