<h2>Materias</h2>
<div class="row">
	<div class="col-sm-12">
		<a class="btn btn-{{mat.nuevo == true ? 'primary' : 'danger'}}" role="button" data-toggle="collapse" 
			href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="nuevaMateria" ng-click="mat.nuevaMateria()">
		  {{mat.nuevo == true ? 'Nuevo' : 'Cancelar'}}
		</a>
		<div class="collapse" id="collapseExample">
			<form class="form-horizontal" role="form">
		  	<div class="well">
		  		<div class="row">
			    	<div class="col-sm-12">
							<label>Departamento academico</label>
							<select class="form-control select2" placeholder="Seleccione" ng-model="mat.materia.deptoAcademico_id">
								<option ng-repeat="deptoAcademico in mat.deptosAcademicos" value="{{deptoAcademico._id}}">{{deptoAcademico.descripcionCorta}}</option>
							</select>
						</div>
		  		</div>
			    <div class="row">
			    	<div class="col-sm-4">					    
						  <label>Clave</label>
				    	<input type="text" class="form-control"  ng-model="mat.materia.clave">
			    	</div>
			    	<div class="col-sm-4">
						  <label>Etiqueta</label>
				    	<input type="text" class="form-control"  ng-model="mat.materia.etiqueta" >
			    	</div>
			    	<div class="col-sm-4">
						  <label>Descripción Corta</label>
				    	<input type="text" class="form-control"  ng-model="mat.materia.descripcionCorta" >
			    	</div>
			    </div>
			    <div class="row">
			    	<div class="col-sm-12">
						  <label>Descripcion</label>
					    <textarea class="form-control" ng-model="mat.materia.descripcion"></textarea>
			    	</div>
			    </div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<input type="submit" value="Guardar" class="btn btn-primary" ng-show="mat.action">
						<input type="submit" ng-click="mat.actualizar(materia)" value="Actualizar" class="btn btn-primary" ng-show="!mat.action">				
					</div>
				</div>	  
		  </form>
		</div>
	</div>
</div>
<br/>
<!-- List -->
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th width="10%"><div class="text-center">Dep. Académico</div></th>
					<th width="10%"><div class="text-center">Clave</div></th>
					<th width="20%"><div class="text-center">Etiqueta</div></th>
					<th width="10%"><div class="text-center">Descripción Corta</div></th>
					<th width="30%"><div class="text-center">Descripción Larga</div></th>		
					<th width="10%">
						<div class="text-center">
							Estatus
						</div>
					</th>
					<th width="10%">
						<div class="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="materia in mat.materias">
		    	<td>{{mat.getDeptoAcademico(materia.deptoAcademico_id)}}</td>
			    <td>{{materia.clave}}</td>
			    <td>{{materia.etiqueta}}</td>
			    <td>{{materia.descripcionCorta}}</td>
			    <td>{{materia.descripcion}} </td>
			    <td>
				    <div class="text-center">
				    	<span ng-if="materia.estatus" class="label label-success">
							  Activo
							</span>
							<span ng-if="!materia.estatus" class="label label-danger">
							  Inactivo
							</span>
				    </div>
			    </td>
			    <td>
				    <div class="text-center">
					    <div class="btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu text-left">
							    <li><a href="#" ng-click="mat.editar(materia._id)"><i class="fa fa-pencil"></i> Editar</a></li>
							  </ul>
							</div>
				    </div>				    
			    </td>
		    </tr>
			</tbody>
		</table>
	</div>
</div>